<app-navbar></app-navbar>

<!-- <div class="content">
  <div
    class="col-lg-2 col-md-3 h-100"
    style="position: fixed; background-color: #d3d3d3"
  >
    <div class="row p-4">df</div>
  </div>

  <div class="col-lg-10 col-md-9 col-sm-8 offset-lg-2 offset-md-3 offset-sm-4">
    <router-outlet></router-outlet>
  </div>
</div>
-->

<div class="wrapper">
  <!-- <aside id="sidebar" class="bg-light"></aside> -->

  <!-- Page Content  -->
  <div id="content" class="m-2">
    <router-outlet></router-outlet>
  </div>
</div>
